* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    background: lightblue;
}

.main_index, main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_index > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_index > ul > li {
    margin: 20px;
}

.main_index > ul > li > a > img:hover {
    border: 4px solid white;
}

.main_index > ul > li > a {
    text-align: center;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color:black;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .nav-bar > ul > li {
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-family: "Comic Sans MS";
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 60%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.main_for_add_and_edit{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_for_add_and_edit > form > input,select{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}